<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>    body {
  background: #599fd9;
  background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
  background: linear-gradient(to right, #599fd9, #c2e59c);
  min-height: 100vh;
  overflow-x: hidden;
}</style>
</head>
<body>
<h1>{{object.etat_projet}}</h1>
<h2>{{object.id}}</h2>
<h3>{{object.nom_projet}}</h3>
<h2>{{object.description_projet}}</h2>
<h3>{{object.adresse_projet}}</h3>
</body>
</html>