{% extends 'mainResponsable.html'%}
{% block contenu %}
{% load static %}
<div class="page-content p-5" id="content">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>

        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
    </svg>
    <div>
        <h1>Liste des réclamations </h1>
        <div style="position: absolute;right: 10px;top: 20px ;margin-right: 30px;">
            <img src="{% static 'images/logo-tt-200.png ' %}" alt="" style="margin-top: -10px;height: 100px;">
        </div>
        <hr>
        <div id="succ" style="width: 78%;" hidden>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <div class="d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    </svg>
                    <strong>Réclamation supprimé</strong>

                </div>
            </div>

        </div>

        <div id="fail" style="width: 78%;" hidden>
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <div class="d-flex align-items-center">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <strong>Echec du Suppression, il faut supprimer les solutions d'abord.</strong>

                </div>
            </div>

        </div>
    </div>
    <div style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); border-radius: 5px;">
        <!-- Page content holder -->
        <button class="tablink" onclick="openPage('Home', this)" id="defaultOpen">Mes réclamations</button>
        <button class="tablink" onclick="openPage('News', this)">Les réclamations envoyer </button>
        <button class="tablink" onclick="openPage('Contact', this)">Les réclamations en cours</button>
        <button class="tablink" onclick="openPage('terminer', this)">Les réclamations términer</button>
        <div id="Home" class="tabcontent">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Liste de mes reclamations </h5>
                    <a type="button" class="btn btn-primary button" href="{% url 'ajouterReclamation'  %}"
                        style="position: absolute;left:75%;"><span>Ajouter une reclamation </span></a>
                    <hr>
                    <div class="card card-body">
                        <table class="table table-striped table-bordered datatable dataTable no-footer"
                            id="dtBasicExample" role="grid" aria-describedby="DataTables_Table_0_info"
                            style="border-collapse: collapse !important">
                            <thead>
                                <tr>
                                    <th>objet</th>
                                    <th>date_creation</th>
                                    <th>service</th>
                                    <th>statut</th>
                                    <th>solution</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if reclamations.count > 0 %}
                                {% for reclamations in reclamations %}
                                <tr>
                                    <td>{{reclamations.objet}}</td>
                                    <td>{{reclamations.date_creation}}</td>
                                    <td>{{reclamations.service}}</td>
                                    {% if reclamations.statut == "en attente" %}
                                    <td style="color:red">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "prise en charge" %}
                                    <td style="color:Gold">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "en traitement" %}
                                    <td style="color:Orange">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "terminé" %}
                                    <td style="color:ForestGreen">{{reclamations.statut}}</td>
                                    {% endif %}
                                    <td><a style="font-size: small;" class="btn btn-primary"
                                            href="{% url 'listSolutionReclamation' rec=reclamations.id   %}">
                                            <i class="fa fa-check-square-o"></i>
                                        </a></td>

                                    <td>
                                        <button class="btn btn-info" id="view" data-bs-toggle="modal"
                                            data-bs-target="#viewmodal" data-bs-whatever="{{ reclamations.id }}"
                                            style="font-size: small;"><i class="fa fa-eye"
                                                aria-hidden="true"></i></button>
                                        <a style="font-size: small;" class="btn btn-warning"
                                            href="{% url 'modifierReclamation' reclamations=reclamations.id   %}">
                                            <i class="fa fa-pencil-square-o"></i></a>

                                        <button class="btn btn-danger" id="delete" data-bs-toggle="modal"
                                            data-bs-target="#deleteModal" data-bs-whatever="{{ reclamations.id }}"
                                            style="font-size: small;"><i class="fa fa-trash"></i></button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {%else%}
                                <div class="alert alert-warning" role="alert">Aucune liste de reclamation</div>
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div id="News" class="tabcontent">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Liste des reclamations envoyer </h5>
                    <hr>
                    <div class="card card-body">
                        <table class="table table-striped table-bordered datatable dataTable no-footer"
                            id="dtBasicExample" role="grid" aria-describedby="DataTables_Table_0_info"
                            style="border-collapse: collapse !important">
                            <thead>
                                <tr>
                                    <th>objet</th>
                                    <th>date creation</th>
                                    <th>service</th>
                                    <th>statut</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if reclamations_envoyee.count > 0 %}
                                {% for reclamations_envoyee in reclamations_envoyee %}
                                {% if reclamations_envoyee.utilisateur.id != responsable.id %}
                                <tr>
                                    <td>{{reclamations_envoyee.objet}}</td>
                                    <td>{{reclamations_envoyee.date_creation}}</td>
                                    <td>{{reclamations_envoyee.service}}</td>
                                    {% if reclamations_envoyee.statut == "en attente" %}
                                    <td style="color:red">{{reclamations_envoyee.statut}}</td>
                                    {% elif reclamations_envoyee.statut == "prise en charge" %}
                                    <td style="color:Gold">{{reclamations_envoyee.statut}}</td>
                                    {% elif reclamations_envoyee.statut == "en traitement" %}
                                    <td style="color:Orange">{{reclamations_envoyee.statut}}</td>
                                    {% elif reclamations_envoyee.statut == "terminé" %}
                                    <td style="color:ForestGreen">{{reclamations_envoyee.statut}}</td>
                                    {% endif %}
                                    <th>
                                        <button class="btn btn-info" id="view" data-bs-toggle="modal"
                                            data-bs-target="#viewmodal" data-bs-whatever="{{ reclamations.id }}"
                                            style="font-size: small;"><i class="fa fa-eye"
                                                aria-hidden="true"></i></button>
                                        <a style="font-size: small;" class="btn btn-warning" data-toggle="tooltip"
                                            data-placement="top" title="Traitement de réclamation"
                                            href="{% url 'TraitementReclamation' rec=reclamations_envoyee.id    %}">
                                            <i class="fa fa-repeat " aria-hidden="true"></i></a>
                                    </th>
                                </tr>
                                {% endif %}
                                {% endfor %}

                                {%else%}
                                <div class="alert alert-warning" role="alert">Aucune réclamation n'a été envoyée</div>
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="Contact" class="tabcontent">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Liste des reclamations en cours </h5>
                    <hr>
                    <div class="card card-body">
                        <table class="table table-striped table-bordered datatable dataTable no-footer"
                            id="dtBasicExample" role="grid" aria-describedby="DataTables_Table_0_info"
                            style="border-collapse: collapse !important">
                            <thead>
                                <tr>
                                    <th>objet</th>
                                    <th>date_creation</th>
                                    <th>service</th>
                                    <th>statut</th>
                                    <th>solution</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if reclamations_faire.count > 0 %}
                                {% for reclamations in reclamations_faire %}
                                <tr>
                                    <td>{{reclamations.objet}}</td>
                                    <td>{{reclamations.date_creation}}</td>
                                    <td>{{reclamations.service}}</td>
                                    {% if reclamations.statut == "en attente" %}
                                    <td style="color:red">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "prise en charge" %}
                                    <td style="color:Gold">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "en traitement" %}
                                    <td style="color:Orange">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "terminé" %}
                                    <td style="color:ForestGreen">{{reclamations.statut}}</td>
                                    {% endif %}
                                    <td><a style="font-size: small;" class="btn btn-primary"
                                            href="{% url 'listSolutionReclamation' rec=reclamations.id   %}">
                                            <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i>
                                        </a></td>
                                    <td>
                                        <button class="btn btn-info" id="view" data-bs-toggle="modal"
                                            data-bs-target="#viewmodal" data-bs-whatever="{{ reclamations.id }}"
                                            style="font-size: small;"><i class="fa fa-eye"
                                                aria-hidden="true"></i></button>
                                        <a style="font-size: small;" class="btn btn-success"
                                            href="{% url 'TreminerReclamation' rec=reclamations.id   %}"
                                            title="Terminer réclamation">
                                            <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {%else%}
                                <div class="alert alert-warning" role="alert">Aucune réclamation en cours </div>
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




        <div id="terminer" class="tabcontent">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Liste des reclamations terminé </h5>
                    <hr>
                    <div class="card card-body">
                        <table class="table table-striped table-bordered datatable dataTable no-footer"
                            id="dtBasicExample" role="grid" aria-describedby="DataTables_Table_0_info"
                            style="border-collapse: collapse !important">
                            <thead>
                                <tr>
                                    <th>objet</th>
                                    <th>date_creation</th>
                                    <th>service</th>
                                    <th>statut</th>
                                    <th>solution</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% if reclamations_terminer.count > 0 %}
                                {% for reclamations in reclamations_terminer %}
                                <tr>
                                    <td>{{reclamations.objet}}</td>
                                    <td>{{reclamations.date_creation}}</td>
                                    <td>{{reclamations.service}}</td>
                                    {% if reclamations.statut == "en attente" %}
                                    <td style="color:red">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "prise en charge" %}
                                    <td style="color:Gold">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "en traitement" %}
                                    <td style="color:Orange">{{reclamations.statut}}</td>
                                    {% elif reclamations.statut == "terminé" %}
                                    <td style="color:ForestGreen">{{reclamations.statut}}</td>
                                    {% endif %}
                                    <td>
                                        <button class="btn btn-info" id="view" data-bs-toggle="modal"
                                            data-bs-target="#viewmodal" data-bs-whatever="{{ reclamations.id }}"
                                            style="font-size: small;"><i class="fa fa-eye"
                                                aria-hidden="true"></i></button>
                                        <a style="font-size: small;" class="btn btn-success"
                                            href="{% url 'listSolutionReclamation' rec=reclamations.id   %}">
                                            <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {%else%}
                                <div class="alert alert-warning" role="alert">Aucune réclamation terminée</div>
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Des informations sur une réclamation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Objet :</label>
                    <input type="text" class="form-control" id="name" readonly>
                </div>


                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Description :</label>
                    <textarea type="text" class="form-control" id="desc" rows="3" readonly></textarea>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer L'article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Num° :</label>
                    <input type="text" class="form-control" id="delete-name" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="senddelete()">Supprimer</button>
            </div>

        </div>
    </div>
</div>

{% csrf_token %}

</div>
<script>

    var viewmodal = document.getElementById('viewmodal')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
    viewmodal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget

        var recipient = button.getAttribute('data-bs-whatever')
        console.log(recipient)
        console.log(button)

        $.ajax({
            type: 'POST',
            url: '{% url 'listReclamation' %}',
            data: {
                'csrfmiddlewaretoken': csrf,
                'data': recipient
            },
            success: (res) => {
                console.log(res)
                var modalBodyInput = viewmodal.querySelector('#name')
                var modalBodyInput1 = viewmodal.querySelector('#desc')



                modalBodyInput.value = res.res.nom


                modalBodyInput1.value = res.res.desc



            },
            error: (err) => {
                console.log()
            }
        })


    })













    var deleteModal = document.getElementById('deleteModal')
    deleteModal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget

        var recipient = button.getAttribute('data-bs-whatever')

        var modalTitle = deleteModal.querySelector('.modal-title')
        var modalBodyInput = deleteModal.querySelector('.modal-body input')

        modalTitle.textContent = 'Supprimer commande ' + recipient
        modalBodyInput.value = recipient
    })


    function tempAlert(div, duration) {
        var el = document.getElementById(div);
        console.log(div)

        setTimeout(function (div) {
            el.setAttribute("hidden", true);

        }, duration);
        el.removeAttribute("hidden");
        if (div == "succ") {
            setTimeout(function () {
                location.reload();

            }, duration);
        }
    }

    function senddelete() {
        var exampleModal = document.getElementById('deleteModal')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')
        console.log(modalBodyInput.value)
        fetch('', {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': modalBodyInput.value
            }),

        })
            .then((serverPromise) =>
                serverPromise.json()
                    .then((j) => {
                        console.log("RES", j.test)
                        if (j.test) {
                            tempAlert("succ", 2000);
                        } else {
                            tempAlert("fail", 3000);
                        }
                    })
                    .catch((e) => {
                        console.log(e)
                    })

            )





        return false;
    }


</script>

<!-- End demo content -->
{% endblock %}