{% extends 'mainMagazin.html'%}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<div class="page-content p-5" id="content">
  <div>
    <h1>Modifier solution </h1>
    <div style="position: absolute;right: 10px;top: 20px ;margin-right: 30px;">
      <img src="{% static 'images/logo-tt-200.png ' %}" alt="" style="margin-top: -10px;height: 100px;">
    </div>
    <hr>
  </div>

<div class="row" >
	<div class="col-xl-9 col-lg-9 col-md-14 col-sm-14 col-14" style="margin-left:10%;">
		<div class="card h-100">
			<div class="card-body" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);">
				<div class="account-settings">
                <div class="card-body">
        <form action="" method="POST"novalidate enctype="multipart/form-data" >
            {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
            <input class="btn btn-danger" type="submit" name="Valider" style="margin-left:40%">
            <a class="btn btn-warning" href="{% url 'listSolutionReclamation' rec=reclamations.id %}">Annuler</a>
        </form>
                  </div>
                  <div>

                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
     {% endblock content %}