{% extends 'mainMagazin.html'%}
{% load widget_tweaks %}
{% block content %}
<!-- Page content holder -->
<div class="page-content p-5" id="content">

  <div class="container">
<div class="row gutters">
      <div>
                       {% if message != "" %}

              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                 {{message}}
              </div>
                        {% endif %}

           </div>
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);">
				<div class="account-settings">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                {% if responsable.image %}
            <img src='{{ responsable.image.url }}' width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">

            {% else %}
                <img src="https://img.icons8.com/officel/100/000000/user.png"/>
            {%endif%}                    <div class="mt-3">
                      <h4 style="text-transform: capitalize;">{{responsable.nom}} {{responsable.prenom}}</h4>
                      <p class="text-secondary mb-1">responsable</p>
                      <a class="btn btn-outline-primary" href="{% url 'modifier_profile'  %}">Modifier</a>
                    </div>
                  </div>
                </div>
				</div>
			</div>
		</div>
	</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
		<div class="card h-100">
			<div class="card-body" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);">
                <div class="row ">
                <div class="card-body">
				<form method="POST" novalidate>
                      {% csrf_token %}
                    <div class="row ">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<h7 class="mb-3 text-primary">Changement de mot de passe</h7>
					</div>
                    <div class="col-sm-9 text-secondary">
                        <p>Votre neouveau mot de passe doit respecter les condidtion ci-dessous:
                        - 6 caractères minimum
                        -les deux mots de passe doivent être indetique
                        - Afin de sécuriser votre mot de passe , nous vous conseillons d'utiliser des symbole (@$/!),des minuscules/majuscules ainsi que des chiffres.</p>
                    </div>
                         <div class="row">
                    <div class="col-sm-3">
                      <h7 class="mb-0">Mot de passe actuelle </h7>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <input type="password" name="motDePasse" id="motDePasse" class="">
                    </div>
                  </div>


                     <div class="row">
                    <div class="col-sm-3">
                      <h7 class="mb-0">Nouveau mot de passe</h7>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    <input type="password" name="new_password" id="new_password" class="">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <h7 class="mb-0">confirmer le nouveau mot de passe</h7>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       <input type="password" name="confirm_password" id="confirm_password" class="">
                    </div>
                  </div>
                    <div class="row ">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div>
                            <input class="btn btn-primary" type="submit" value="Changer le mot de passe" style="margin-left:40%">
                            <a type="button"  name="Annuler" class="btn btn-secondary" href="{% url 'profile_utilisateur'  %}">Annuler</a>
						</div>
					</div>
				</div>
                    </div>
                </form>
			</div>
		</div>
	</div>
	</div>
</div>
</div>
    </div>
<!-- End demo content -->
	{% endblock %}

