{% extends 'mainMagazin.html'%}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<!-- Page content holder -->
<div class="page-content p-5" id="content">
<div>
  <h1>Modifier réclamation </h1>
  <div style="position: absolute;right: 10px;top: 20px ;margin-right: 30px;">
    <img src="{% static 'images/logo-tt-200.png ' %}" alt="" style="margin-top: -10px;height: 100px;">
  </div>
  <hr>
</div>

<div class="row" >
	<div class="col-xl-9 col-lg-9 col-md-14 col-sm-14 col-14" style="margin-left:10%;">
		<div class="card h-100">
			<div class="card-body" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);">
				<div class="account-settings">
                <div class="card-body">
        <form action="" method="POST" >
            {% csrf_token %}
                     <label>Objet de reclamation:</label>
         {% if form.is_bound %}
            {% if form.objet.errors %}
              {% render_field form.objet class="form-control is-invalid" %}
                {% for error in form.objet.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                {% endfor %}
        {% else %}
          {% render_field form.objet class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field form.objet class="form-control" %}
      {% endif %}



        <label>Description de reclamation:</label>
         {% if form.is_bound %}
            {% if form.description_reclamation.errors %}
              {% render_field form.description_reclamation class="form-control is-invalid" %}
                {% for error in form.description_reclamation.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                {% endfor %}
        {% else %}
          {% render_field form.description_reclamation class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field form.description_reclamation class="form-control" %}
      {% endif %}






           <label>service:</label>
                     {% if form.is_bound %}
                        {% if form.service.errors %}
                          {% render_field form.service class="form-control is-invalid" %}
                            {% for error in form.service.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                            {% endfor %}
                    {% else %}
                      {% render_field form.service class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field form.service class="form-control" %}
                  {% endif %}



 <label>Statut de reclamation :</label>
         {% if form.is_bound %}
            {% if form.statut.errors %}
              {% render_field form.statut class="form-control is-invalid" %}
                {% for error in form.statut.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                {% endfor %}
        {% else %}
          {% render_field form.statut class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field form.statut class="form-control" %}
      {% endif %}
            <div class="field">
            <label class="label">Nom d'utilisateur</label>
            <div class="control">
            <select class="form-control" name="utilisateur" id="form.utilisateur">
                <option value="{{responsable.id}}" selected >{{responsable.nom}}</option>
            </select>
            </div>
          </div>
            <input class="btn btn-danger" type="submit" name="Valider" style="margin-left:40%">
            <a class="btn btn-warning" href="{% url 'listReclamation' %}">Annuler</a>
        </form>
</div></div></div></div>

</div>
</div>
</div>
</div>
</div>
<!-- End demo content -->
	{% endblock %}